<section id="mission">
	<div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        
                        <h3>{{ page.value-desk }}</h1>
                        <h1>Нашb ценности</h3>                    
                        <h2>{{ page.value }}</h2>
                        <h2>{{ page.value-1 }}</h2>
                        <h2>{{ page.value-2 }}</h2>
                        <hr class="intro-divider">
                        
                        </ul>
                    </div>
                </div>
            </div>

        </div>       
</section>
<!-- /.banner -->